<h1>Profile Page</h1>

{{!-- Display User Information --}}
<ul>
 <li>{{user.first_name}} {{user.last_name}}</li>
 <li>{{user.email}}</li>
</ul>

{{!-- Display a link to logout --}}
<a href="/profile/logout">Logout</a>

{{!-- <form action="/logout" method="get"> --}}
{{!-- <button>Log Out</button> --}}
{{!-- </form> --}}
